{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_comment_details'|trans({'%id%': comment.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_comment_details'|trans({'%id%': comment.id|default('')}) }}</h1>
    {% if comment is defined and comment|length %}



        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ comment.id }}</dd>
            <dt>{{ 'label_created_at'|trans }}</dt>
            <dd>{{ comment.createdAt|date('Y/m/d') }}</dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{  comment.post.title }}</dd>
            <dt>{{ 'label_content'|trans }}</dt>
            <dd>{{  comment.content }}</dd>
        </dl>

        <p>
            <a href="{{ url('comment_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}