{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_index'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_category_index'|trans }}</h1>

    {% if is_granted('ROLE_ADMIN') %}
    <div class="form-group row float-sm-right">
        <a href="{{ url('category_create') }}">
        <button  onclick="" style="margin-top: 20px; width: 20%; margin-bottom:20px;" class="btn btn-primary">
            {{ 'category_create'|trans }}
        </button>
        </a>
    </div>
    {% endif %}

    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'category.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'category.title') }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.title }}</td>
                    <td>
                        <a href="{{ url('category_show', {id: category.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'action.show'|trans }}
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'action.edit'|trans }}">
                                {{ 'action.edit'|trans }}
                            </a>
                            <a href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>

            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message_empty_list'|trans
            } %}

        </p>
    {% endif %}
{% endblock %}