{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ category.title }}</h1>
    {% if category is defined and category|length %}

        {% if category.posts is defined and category.posts|length %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'label_id'|trans }}</th>
                    <th>{{ 'label_author'|trans }}</th>
                    <th>{{ 'label_title'|trans }}</th>
                    <th>{{ 'label_updated_at'|trans }}</th>
                    <th>{{ 'label_actions'|trans }}</th>
                </tr>
                </thead>
                {% for post in category.posts %}
                    {#                    {% if comment.status %}#}
                    <tbody>
                    <tr>
                        <td>{{ post.id }}</td>
                        <td>{{ post.author.nickname }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.updatedAt|date('d-m-Y') }}</td>
                        <td>
                            <a href="{{ url('post_show', {id: post.id}) }}" title="{{ 'action.show'|trans }}">
                                {{ 'action.show'|trans }}
                            </a>

                            {% if is_granted('EDIT', post) %}
                                <a href="{{ url('post_edit', {id: post.id}) }}" title="{{ 'action.edit'|trans }}">
                                    {{ 'action.edit'|trans }}
                                </a>
                            {% endif %}
                            {% if is_granted('DELETE', post) %}
                                <a href="{{ url('post_delete', {id: post.id}) }}" title="{{ 'action.delete'|trans }}">
                                        {{ 'action.delete'|trans }}
                                </a>
                            {% endif %}

                        </td>
                    </tr>
                    </tbody>
                    {#                    {% endif %}#}
                {% endfor %}
            </table>
        {% endif %}


        <p>
            <a href="{{ url('category_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}