{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}</h1>
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ category.id }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  category.title }}</dd>
        </dl>
{#        {% for post in posts %}#}
{#            {% if post.category == category.id %}#}
{#            <table>#}
{#                <tbody>#}
{#                <tr>#}
{#                    <td>{{ post.id }}</td>#}
{#                    <td>{{ post.title }}</td>#}


{#                        <td><a href="{{ url('post_show', {id: post.id}) }}" title="{{ 'action.show'|trans }}">#}
{#                                {{ 'action.show'|trans }}#}
{#                            </a></td>#}

{#                </tr>#}
{#                </tbody>#}
{#            </table>#}
{#            {% endif %}#}
{#        {% endfor %}#}
        <p>
            <a href="{{ url('category_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}