{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_post_details'|trans({'%id%': post.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>
    {% if post is defined and post|length %}



        <table class="table table-striped">
            <thead>
                <tr class="dl-horizontal">
                    <th>{{ 'label_author'|trans }}</th>
                    <th>{{ 'label_created_at'|trans }}</th>
                    <th>{{ 'label_updated_at'|trans }}</th>
                    {% if is_granted('EDIT', post) %}
                    <th>{{ 'label_actions'|trans }}</th>
                    {% endif %}

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ post.author.nickname }}</td>
                    <td>{{ post.createdAt|format_date('short') }}</td>
                    <td>{{ post.updatedAt|format_date('short') }}</td>
                    <td>
                        {% if is_granted('EDIT', post) %}
                            <a href="{{ url('post_edit', {id: post.id}) }}" title="{{ 'action.edit'|trans }}">
                                {{ 'action.edit'|trans }}
                            </a>
                        {% endif %}

                        {% if is_granted('DELETE', post) %}
                            <a href="{{ url('post_delete', {id: post.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            {{ post.content }}
        </p>



        {% if comments is defined and comments|length %}
            <h3>{{ 'label_comments'|trans }}</h3>
            <table class="table table-striped">
                {% for comment in comments %}
{#                    {% if comment.status %}#}
                    <tbody>
                        <tr>
                            <td>{{ comment.author.nickname }}</td>
                            <td>{{ comment.content }}</td>
                            <td>{{ comment.createdAt|format_date('short') }}</td>
                            {% if is_granted('DELETE', comment) %}
                            <td><a href="{{ url('comment_delete', {id: comment.id}) }}" title="{{ 'action.delete'|trans }}">
                                    {{ 'action.delete'|trans }}
                                </a></td>
                            {% endif %}
                        </tr>
                    </tbody>
{#                    {% endif %}#}
                {% endfor %}
            </table>
        {% endif %}

        <br>

        <h5>{{ 'action.create_comment'|trans }}</h5>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group row float-sm-right">
            <input id="wyslij" type="submit" value="Wyślij"  style=" width: 20%; margin-left: 79%;" class="btn btn-primary"/>
        </div>
        {{ form_end(form) }}
    {% else %}
        <p>{{ 'action.create_comment_no'|trans }}</p>
    {% endif %}
        <p>
            <a href="{{ url('post_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}